/*!
 =========================================================
 * 全体管理画面の共通SCSS - v0.0.1
 =========================================================
 */

@import "core/variables";
@import "core/mixins";
@import "core/core-bootstrap";
@import "core/reboot";
@import "core/layout";
@import "core/buttons";
@import "core/checkboxes";
@import "core/cards";
@import "core/custom-forms";
@import "core/switches";
@import "core/radios";
@import "core/carousel";
@import "core/forms";
@import "core/input-group";
@import "core/list-group";
@import "core/nav";
@import "core/images";
@import "core/navbar";
@import "core/badges";
@import "core/alerts";
@import "core/pagination";
@import "core/pills";
@import "core/info-areas";
@import "core/type";
@import "core/tabs";
@import "core/tooltip";
@import "core/popover";
@import "core/modal";
@import "core/dropdown";
@import "core/drawer";
@import "core/progress";
@import "core/togglebutton";
@import "core/ripples";
@import "core/footers";
@import "core/sidebar-and-main-panel";
@import "core/fixed-plugin";
@import "core/tables";
@import "core/misc";
@import "core/pages";
@import "core/social-buttons";
@import "core/responsive";
@import "core/plugins/animate";
@import "core/plugins/chartist";
@import "core/plugins/perfect-scrollbar";

//-- common variable --//
@import "main/dashboard/include";

//-- user settings --//
// fonts
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// base
.content {
  margin-top: 70px;
  padding: 10px 15px;
}
.footer {
  padding: 0;
}

// sidebar
.sidebar[data-color="azure"] li.active > a {
  background-color: $BRAND_COLOR;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 163, 212, 0.4);
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 163, 212, 0.4);
}
.btn.btn-brand {
  color: #fff;
  background-color: $BRAND_COLOR;
  border-color: $BRAND_COLOR;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 163, 212, 0.14), 0 3px 1px -2px rgba(0, 163, 212, 0.2), 0 1px 5px 0 rgba(0, 163, 212, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 163, 212, 0.14), 0 3px 1px -2px rgba(0, 163, 212, 0.2), 0 1px 5px 0 rgba(0, 163, 212, 0.12);
}
.btn.btn-brand:hover {
  color: #fff;
  background-color: $BRAND_BTN_HOVER_COLOR;
  border-color: $BRAND_BTN_HOVER_COLOR;
}
.btn.btn-brand:focus,
.btn.btn-brand.focus,
.btn.btn-brand:hover {
  color: #fff;
  background-color: $BRAND_BTN_HOVER_COLOR;
  border-color: $BRAND_BTN_HOVER_COLOR;
}
.btn.btn-brand:active,
.btn.btn-brand.active,
.open > .btn.btn-brand.dropdown-toggle,
.show > .btn.btn-brand.dropdown-toggle {
  color: #fff;
  background-color: $BRAND_BTN_HOVER_COLOR;
  border-color: $BRAND_BTN_HOVER_COLOR;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 163, 212, 0.14), 0 3px 1px -2px rgba(0, 163, 212, 0.2), 0 1px 5px 0 rgba(0, 163, 212, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 163, 212, 0.14), 0 3px 1px -2px rgba(0, 163, 212, 0.2), 0 1px 5px 0 rgba(0, 163, 212, 0.12);
}