@charset "UTF-8";

/*!
 =========================================================
 * コーパス管理画面専用のSCSS - v0.0.1
 =========================================================
 */

/*!
 =========================================================
 * 各ページで呼び出す共通SCSS - v0.0.1
 =========================================================
 */

.text-brand {
  color: #00A1EA !important;
}

.text-default {
  color: #999999;
}

.detail-card:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: lightblue;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
  background-color: #00A1EA;
  -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(176, 196, 222, 0.4);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(176, 196, 222, 0.4);
}

.dropdown a,
a:hover,
a:focus {
  color: #00A1EA;
}

.ribbon13-2 {
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 10px;
  margin: 0;
  padding: 10px 0 7px;
  z-index: 2;
  width: 40px;
  text-align: center;
  color: white;
  font-size: 13px;
  background: #00A1EA;
  border-radius: 2px 0 0 0;
}

.ribbon13-2:before {
  position: absolute;
  content: '';
  top: 0;
  right: -5px;
  border: none;
  border-bottom: solid 6px lightblue;
  border-right: solid 5px transparent;
}

.ribbon13-2:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #00A1EA;
}

.ribbon13-3 {
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 10px;
  margin: 0;
  padding: 10px 0 7px;
  z-index: 2;
  width: 40px;
  text-align: center;
  color: white;
  font-size: 13px;
  background: darkgray;
  border-radius: 2px 0 0 0;
}

.ribbon13-3:before {
  position: absolute;
  content: '';
  top: 0;
  right: -5px;
  border: none;
  border-bottom: solid 6px gray;
  border-right: solid 5px transparent;
}

.ribbon13-3:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid darkgray;
}

/* -----------------------------*/

/* context menu                 */

/* -----------------------------*/

div.contextmenu {
  padding: 3px;
  border: 1px solid #999;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fafafa;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
}

*html div.contextmenu {
  width: 200px;
}

* + html div.contextmenu {
  width: 200px;
}

div.contextmenu p.title {
  margin: 0 0 3px;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
  background-color: #eee;
}

div.contextmenu ul.menu-items {
  margin: 0;
  padding: 0;
}

div.contextmenu ul.menu-items li.menu-item {
  margin: 0;
  padding: 2px 0;
  list-style: none;
  position: relative;
}

div.contextmenu ul.menu-items li.menu-item.divide {
  border-top: 1px dashed #aaa;
}

div.contextmenu ul.menu-items li.menu-item button {
  padding: 3px 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  width: 100%;
  background: transparent;
  cursor: pointer;
  text-align: left;
  -webkit-transition: border 0.2s ease 0s, background-color 0.2s ease 0s;
  transition: border 0.2s ease 0s, background-color 0.2s ease 0s;
}

div.contextmenu ul.menu-items li.menu-item button:hover {
  background-color: #00A1EA;
  color: white;
}

div.contextmenu ul.menu-items li.menu-item.disabled button,
div.contextmenu ul.menu-items li.menu-item.disabled button:hover {
  border: 1px solid transparent;
  background: transparent;
  cursor: default;
}

div.contextmenu ul.menu-items li.menu-item.sub-menu-open > button,
div.contextmenu ul.menu-items li.menu-item.sub-menu-close > button {
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

div.contextmenu ul.menu-items li.menu-item button span.icon {
  margin: 0 5px 0 -16px;
  vertical-align: middle;
}

div.contextmenu.open {
  display: block;
}


@charset "UTF-8";

/*!
 =========================================================
 * API管理画面専用のSCSS - v0.0.1
 =========================================================
 */

/*!
 =========================================================
 * 各ページで呼び出す共通SCSS - v0.0.1
 =========================================================
 */

.text-brand {
  color: #00A1EA !important;
}

.text-default {
  color: #999999;
}

.nav-border {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding: 3px;
  margin-bottom: 5px;
}

.doc-content {
  background: #d1d9e1;
  color: #2d2d2d;
  padding: 1em;
}

.api-auth-table th {
  width: 30%;
}

.manual-title {
  border-left: solid 5px cornflowerblue;
  padding-left: 7px;
  line-height: 2.5rem;
  margin-bottom: 10px;
}

.active-api-table tbody tr:hover {
  background-color: whitesmoke;
}

.hljs-attr {
  color: #795da3;
}

.hljs-number {
  color: #333;
}

.hljs-string {
  color: #df5000;
}

.bold {
  font-weight: bold;
}

.parameter_table {
  margin-bottom: 1rem;
  border-radius: 0;
  /* width: unset; */
  width: 100%;
}

.parameter_table th {
  border: 1px solid lightgray;
  background-color: #00A1EA;
  color: #fff;
  padding-left: 5px;
  padding-right: 7px;
}

.parameter_table td {
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 7px;
}

