/*!
 =========================================================
 * 各ページで呼び出す共通SCSS - v0.0.1
 =========================================================
 */

// サイトブランドカラー
$BRAND_COLOR  : #00A1EA;
$BRAND_BTN_HOVER_COLOR  : #43A1D4;

// テーブルレイアウト
.text-brand {
  color: $BRAND_COLOR !important;
}
.text-default {
  color: #999999;
}